.product_cards_container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-container-slider{
    justify-content: center;
    scroll-behavior: unset;
    overflow-x: unset;
}
.main_tables_container{
    display: flex;
    width: 930px;
    margin:0 auto ;
}